body {
  background: #fff;
}

.App {
  text-align: center;
}

.number {
  padding-left: .25em;
  &.positive {
    color: green;
  }
  &.negative {
    color: darkred;
  }
}

ul {
  padding: 0;
  li {
    list-style: none;
  }
}